c.NotebookApp.tornado_settings = {
'headers': {
'Content-Security-Policy': "frame-ancestors http://*:9999 'self' "
}
}
c.NotebookApp.ip = '*'
c.NotebookApp.open_browser = False
c.NotebookApp.allow_root = True
